
@import "nib"

@import "mixins"

//THEMES

// Fonts
main-font-color = #BFBFBF
plugin-font-color = #7A7A7A

//Backgrounds
sidebar-background = #474747
plugin-background = black
main-background = #232323

//Elements
split-view-divider-color = #5C5C5C

body
  background main-background

.arrange-controls
  background linear-gradient(top, 90% sidebar-background, black)
  border-right #5C5C5C 2px solid

  .btn
    bootstrap-button #3A3A3A

  .title
    color main-font-color

.arrange-pluginheader
  background linear-gradient(top, 90% plugin-background, #4A4A4A)

  .title
    color plugin-font-color

.arrange-timeline
  background linear-gradient(top, #153B5F, #225583)

.arrange-tracklist
  background sidebar-background
  border-right #5C5C5C 2px solid

  .arrange-track
    background linear-gradient(bottom, sidebar-background, 99% sidebar-background, 99% #7A7A7A)

    .track-title
      background linear-gradient(top, #1E1E1E, 40% #363636)
      border-left #474747 1px solid
      border-top #1E1E1E 1px solid
      border-bottom #363636 1px solid
      color #FFFFFF
      font-size .85em

    .track-color-bar
      background linear-gradient(top, #1B3E5F, 10% #225583)

    .lock-button
      border-radius 30px
      bootstrap-button #BBB lighten(sidebar-background, 20%) darken(sidebar-background, 30%)

      span
        margin-left -2px

.arrange-pluginlist
  background plugin-background

.arrange-trackbody
  background main-background
