@import 'nib'

@import 'mixins'

arrange-header-height = 27px
initial-sidebar-width = 250px
initial-plugin-width = 200px

.btn
  cursor default

.btn:hover
  background-position: 0 0;
  transition(background-position, 0, linear)

.btn:active
  background-position 0 -15px

.arrange-controls
  overflow: visible

  .buttons
    display block
    absolute top 3px left 10px

  .title
    top 5px
    display block
    text-align center
    center 100px
    no-select()

  .dropdown
    display block
    absolute top 3px right 10px

.arrange-header
  overflow: visible

.arrange-pluginheader
  float left
  height arrange-header-height
  width initial-plugin-width
  position relative
  z-index 99

  .title
    top 5px
    display block
    text-align center
    center 100px
    no-select()

.arrange-tracklist

  -webkit-overflow-scrolling: touch

  .arrange-track
    position relative
    height 75px
      
    .btn
      padding 4px 6px 4px

    .track-color-bar
      absolute top left
      height 100%
      width 10px

    .track-title
      width 100px

    .track-controls
      absolute left 15px top 10px right 30px

    .audio-controls
      absolute right 10px top 10px

    .lock-button
      absolute right 24px top 46px

.arrange-pluginlist
  float left
  height 896px
  width initial-plugin-width
  z-index 96

.arrange-content

  overflow-x scroll
  overflow-y auto

  -webkit-overflow-scrolling: touch

  .track-content
    height 75px
    width 1200px

    img
      height 100%
      width 100%