@import 'nib'

@import 'mixins'

.btn
  cursor default

.btn:hover
  background-position: 0 0;
  transition(background-position, 0, linear)

.btn:active
  background-position 0 -15px

.arrange-controls
  overflow: visible

  .buttons
    display block
    absolute top 3px left 10px

  .title
    top 5px
    display block
    text-align center
    center 100px
    no-select()

  .dropdown
    display block
    absolute top 3px right 10px

.arrange-header
  overflow: visible

.arrange-pluginheader
  position relative
  z-index 99

  .title
    top 5px
    display block
    text-align center
    center 100px
    no-select()

.arrange-tracklist

  -webkit-overflow-scrolling: touch

  .arrange-track
    position relative
    height 75px
      
    .btn
      padding 4px 6px 4px

    .track-color-bar
      absolute top left
      width 10px

    .track-button-group
      absolute top left 104px

    .track-controls
      absolute left 15px top 10px right 30px

    .audio-controls
      absolute right 10px top 10px

    .lock-button
      absolute right 24px top 46px

.arrange-content-wrapper

  overflow-x scroll
  overflow-y auto

  -webkit-overflow-scrolling: touch

  .arrange-content
    padding-left 5px
    overflow visible
    min-width 100%

    .track-content
      height 75px
      width: 100%
      position relative

      overflow visible