@import 'nib'

@import 'mixins'

control-height = 60px

.control

  // Figure out how not to hack this thing
  .display
    margin-left -106px

  .time-display
    center 200px
    vert-center 35px
    background linear-gradient(bottom, 20% #242424, 40% #434343, #929292)
    border-radius 5px
    text-align center
    color lighten(#006896, 40%)

  .time-display-background
    width 100%
    vert-center 45px
    background linear-gradient(top, #BABABA, #D2D2D2)
    border-radius 5px
    box-shadow 0px 1px 3px #868686
