
<div class="row">
  <div class="span4">
    <div class="row">
      <div class="span1">
        <button type="button" class="btn btn-mini">
          <span class="icon-align-justify"></span>
        </button>
        <button type="button" class="btn btn-mini">
          <span class="icon-plus"></span>
        </button>
      </div>

      <div class="span2">
        <h3 class="center">Tracks</h3>
      </div>

      <div class="span1">
        <div class="btn-group">
          <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">Plugins<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Reverb</a></li>
            <li><a href="#">Compressor</a></li>
            <li><a href="#">Something Cool</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <div class="span8">
    <div class="row">
      <div class="span2">
        <h3 class="center">Time Thingy</h3>
      </div>

    </div>
  </div>
</div>