<div class="row-fluid">
  <div class="span4">
    <div class="btn-toolbar">
      <div class="btn-group">
        <button class="btn">
          <span class="icon-fast-backward"></span>
        </button>
        <button class="btn">
          <span class="icon-backward"></span>
        </button>
        <button class="btn">
          <span class="icon-play"></span>
        </button>
        <button class="btn">
          <span class="icon-play-circle"></span>
        </button>
        <button class="btn">
          <span class="icon-forward"></span>
        </button>
        <button class="btn">
          <span class="icon-stop"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="span4 well">
    <h3>{{timestamp}}</h3>
  </div>
  <div class="span4">
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        <button class="btn">
          <span class="icon-zoom-out"></span>
        </button>
        <button class="btn">
          <span class="icon-headphones"></span>
        </button>
        <button class="btn">
          <span class="icon-cog"></span>
        </button>
      </div>
    </div>
  </div>
</div>