<div class="control">
  <div class="btn-toolbar transport">
    <div class="btn-group">
      <button class="btn">
        <span class="icon-fast-backward"></span>
      </button>
      <button class="btn">
        <span class="icon-backward"></span>
      </button>
      <button class="btn">
        <span class="icon-play"></span>
      </button>
      <button class="btn">
        <span class="icon-play-circle"></span>
      </button>
      <button class="btn">
        <span class="icon-forward"></span>
      </button>
      <button class="btn">
        <span class="icon-stop"></span>
      </button>
    </div>
  </div>
  <div class="time-display-background"></div>
  <div class="time-display">
    <h2>1:2:880{{timestamp}}</h2>
  </div>
  <div class="btn-toolbar settings-buttons">
    <div class="btn-group">
      <button class="btn">
        <span class="icon-zoom-out"></span>
      </button>
      <button class="btn">
        <span class="icon-headphones"></span>
      </button>
      <button class="btn">
        <span class="icon-cog"></span>
      </button>
    </div>
  </div>
</div>